<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <button mat-raised-button style="background-color: #000; color: #9d9d9d; padding-right: 10.6rem ; width: 20rem ;">
                <img src="https://i.imgur.com/kN9W6eQ.png" style="max-width: 150px;">
                <span style="position: absolute; font-size: 24px; right: 9px ; top: -1px ; text-transform: lowercase;">Reminder Bot</span>
            </button>
        </span>
        <span class="spacer"></span>
        <div *ngIf="user; else guest">
            <img 
                src="{{ user.image_url }}" 
                class="header-image clickable"
                matTooltip="Signed in as {{ user.name }} (Click to sign out)"
                matTooltipPosition="left"
                (click)="signOut()"
            >
        </div>
        <ng-template #guest>
            <button mat-raised-button color="accent" (click)="signIn()">Sign In with GroupMe</button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>

<div class="app-container" *ngIf="user; else guestHeader">
    <div class="center-all">
        <h1>Welcome, {{ user.name }}</h1>
        <p>
            Welcome to the GroupMe Reminder Bot configuration page!<br>
            Select a group from below to manage, or to add the bot to a new group.
        </p>
        <form [formGroup]="groupForm">
            <mat-form-field color="accent">
                <mat-select formControlName="group" name="group" (selectionChange)="selectGroup($event)" [matTooltip]="!groups.length ? 'Click the load icon to fetch your groups' : null" matTooltipPosition="above">
                    <mat-option *ngFor="let g of groups" [value]="g" [disabled]="!isGroupAdmin(g)" [matTooltip]="!isGroupAdmin(g) ? 'You are not an admin of this group' : null" matTooltipPosition="right">{{ g?.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-icon (click)="loadGroups()" class="side-icon clickable" matTooltip="Load Groups" matTooltipPosition="above">{{ groupsLoading ? 'pending' : 'autorenew' }}</mat-icon>
            <p *ngIf="currGroup && !currGroup?.isBotRegistered">
                Bot not added to <strong>{{ currGroup.name }}</strong> yet! Add the bot by clicking below.<br> <br>
                <button mat-raised-button color="primary" (click)="addBot()">Add Bot</button>
            </p>
        </form>
        <div *ngIf="currGroup && currGroup?.isBotRegistered">
            <h2>Managing Bot — {{ currGroup.name }}</h2>
            <div style="display: flex;">
                <span>Members: {{ currGroup.members.length }}</span>
                <span class="spacer"></span>
                <span>Last post: {{ moment.unix(currGroup.updated_at).fromNow() }}</span>
            </div>
            <mat-tab-group>
                <!-- Reminders -->
                <mat-tab label="Reminders">
                    <div class="tab-content">
                        <button mat-raised-button color="warn" (click)="rForm.reset(); showReminderForm = !showReminderForm">{{ showReminderForm ? "Hide Form" : "Create Reminder" }}</button><br>
                        <form [formGroup]="rForm" *ngIf="showReminderForm" class="tab-form">
                            <h3>Create Reminder</h3>
                            <mat-form-field appearance="fill" color="accent" class="full-width">
                                <mat-label>Reminder Text</mat-label>
                                <input matInput formControlName="text" name="text" placeholder="Meet at Starbucks at 4 PM" required>
                            </mat-form-field>
                            <div style="display: flex;justify-content: center;">
                                <mat-form-field appearance="fill" style="margin-right: 3rem;">
                                    <mat-label>Choose a reminder date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="date" [min]="today">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose a reminder time</mat-label>
                                    <input matInput formControlName="time" type="time">
                                </mat-form-field>
                            </div>
                            <span><mat-checkbox [checked]="isFrequencyChecked" (change)="toggleFrequency()">Make this reminder recurring?</mat-checkbox></span>
                            <br>
                            <div *ngIf="isFrequencyChecked"><strong>Send reminder every...</strong></div>
                            <br>
                            <div style="display: flex;justify-content: center;" [class.disable-click]="!isFrequencyChecked">
                                <mat-form-field appearance="fill" style="margin-right: 3rem;">
                                    <mat-label>Frequency</mat-label>
                                    <input matInput formControlName="frequency" type="number" min="1" >
                                </mat-form-field>
                                <mat-form-field appearance="fill" style="margin-right: 3rem;">
                                    <mat-label>Units</mat-label>
                                    <mat-select formControlName="freqUnit" min="1">
                                        <mat-option value="minutes">Minute(s)</mat-option>
                                        <mat-option value="hours">Hours(s)</mat-option>
                                        <mat-option value="days">Day(s)</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <button mat-raised-button color="primary" [disabled]="!rForm.valid" (click)="createReminder()">Create Reminder</button>
                        </form>

                        <!-- Reminders Table -->
                        <table mat-table [dataSource]="reminders" class="mat-elevation-z8" style="width: 100%; margin-top: 2rem;">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> ID </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                              </ng-container>

                            <ng-container matColumnDef="text">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="clickable" (click)="getReminders('text', true)" matTooltip="Click to sort" matTooltipPosition="above"> Text </th>
                              <td mat-cell *matCellDef="let element"> {{element.text}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="timestamp">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="clickable" (click)="getReminders('timestamp', true)" matTooltip="Click to sort" matTooltipPosition="above"> Date to Send</th>
                              <td mat-cell *matCellDef="let element"> {{ moment.unix(element.timestamp).format("MMMM Do, YYYY LT") }} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="frequency">
                              <th mat-header-cell *matHeaderCellDef> Frequency </th>
                              <td mat-cell *matCellDef="let element"> {{ element.frequency ? 'Every ' + moment.duration(element.frequency, "minutes").humanize() : "N/A" }} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="sendingIn">
                              <th mat-header-cell *matHeaderCellDef> Next Reminder In </th>
                              <td mat-cell *matCellDef="let element"> {{ moment.unix(element.timestamp).fromNow(true) }} </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)="deleteReminder(element)">Delete</button> </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </mat-tab>
                <!-- Reminder History -->
                <mat-tab label="Reminder History">
                    <div class="tab-content">
                        <table mat-table [dataSource]="reminderHistory" class="mat-elevation-z8" style="width: 100%; margin-top: 2rem;">
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef> Reminder ID </th>
                              <td mat-cell *matCellDef="let element"> {{element.reminder_id}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="sent">
                              <th mat-header-cell *matHeaderCellDef> Date Sent</th>
                              <td mat-cell *matCellDef="let element"> {{ moment.unix(element.sent).format("MMMM Do, YYYY LT") }} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="text">
                              <th mat-header-cell *matHeaderCellDef> Text </th>
                              <td mat-cell *matCellDef="let element"> {{ element.text }} </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="reminderHistoryColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: reminderHistoryColumns;"></tr>
                        </table>
                    </div>
                </mat-tab>
                <!-- Keyword Mappings -->
                <mat-tab label="Keyword Mappings">
                    <div class="tab-content">
                        <form [formGroup]="keywordForm" class="tab-form">
                            <h3>Add Keyword Mapping</h3>
                            <p>Enter the phrase and the thing you want it to map to.<br>Whenever a message in the group matches the phrase, Reminder Bot will sent the mapping.</p>
                            <div style="display: flex;justify-content: center;">
                                <mat-form-field appearance="fill" color="accent" class="full-width" style="margin-right: 3rem;">
                                    <mat-label>Phrase</mat-label>
                                    <input matInput formControlName="phrase" placeholder="Canes" required>
                                </mat-form-field>
                                <mat-form-field appearance="fill" color="accent" class="full-width" >
                                    <mat-label>Mapping</mat-label>
                                    <input matInput formControlName="mapping" placeholder="Canes is great!" required>
                                </mat-form-field>
                            </div>
                            <button mat-raised-button color="primary" [disabled]="!keywordForm.valid" (click)="createKeywordMapping()">Create Mapping</button>
                        </form>
                        <div class="tab-content">
                            <table mat-table [dataSource]="keywordMappings" class="mat-elevation-z8" style="width: 100%; margin-top: 2rem;">
                                <ng-container matColumnDef="phrase">
                                  <th mat-header-cell *matHeaderCellDef> Phrase </th>
                                  <td mat-cell *matCellDef="let element"> {{element.phrase}} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="mapping">
                                  <th mat-header-cell *matHeaderCellDef> Mapping</th>
                                  <td mat-cell *matCellDef="let element"> {{ element.mapping }} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="actions">
                                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                                  <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)="deleteKeywordMapping(element)">Delete</button> </td>
                                </ng-container>
                              
                                <tr mat-header-row *matHeaderRowDef="keywordColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: keywordColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <!-- Settings -->
                <mat-tab label="Settings">
                    <div class="tab-content">
                        <form [formGroup]="settingsForm" class="tab-form">
                            <mat-form-field appearance="fill" color="accent" class="full-width">
                                <mat-label>Phrase</mat-label>
                                <input matInput formControlName="prefix" name="prefix" placeholder="❗❗❗REMINDER: " required>
                            </mat-form-field>
                            <p>This is the string that is sent before the reminder text.</p>
                            <button mat-raised-button color="primary" [disabled]="!settingsForm.valid" (click)="updateSettings()">Update Settings</button>
                        </form>
                    </div>
                </mat-tab>
                <!-- Remove Bot -->
                <mat-tab label="Remove Bot">
                    <div class="tab-content">
                        <button mat-raised-button color="warn" (click)="deleteBot()">Remove Bot</button><br>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<ng-template #guestHeader>
    <div class="app-container center-h-v" >
        <h1>GroupMe Reminder Bot</h1>
        <p>Welcome to the GroupMe Reminder Bot. Sign in with your GroupMe account to get started.</p>
    </div>
</ng-template>